@media only screen and (max-width: 768px){

   .header .menu-content .menu {
        display: none;

    }
    .menu-icon{
        position: fixed;
    }
    .header ul{
        list-style-type: none;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 10px;
        right: 10px;
        margin: 0 auto;
        background: #fff;
        z-index: 1000000000;
        height: 25%;
        text-align: center;
        transition: all 2s ;
        box-shadow: 0 0 10px #000;
        border-radius: 7px;
        animation-name: animate;
        animation-duration: 1s;
    }
    .header ul li{
        text-decoration: none;
        border-bottom: 1px solid #000;
    }
    .header ul li a{
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        color: #000;
        text-decoration: none;
    }
    .header ul li a:focus{
        color: #246CFF;
    }
    .more{
        display: block;
        margin-left: 5px;
    }
    .bgr > img{
        height: 800px;
    }
    .cnt{
        text-align: center;
        z-index: 9999;
        width: 100%;
        position: absolute;
        color:#fff;
        bottom: 55%;
        top: 45%;
    }
    .change-all{
        justify-content: center;
        padding: 0 3em 0 3em;
    }
    .tutorial{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-top: 1em;
        -webkit-animation: none;
        -o-animation: none;
        animation: none;
    }
    .tutorial .tu img{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .tutorial .tu{
       justify-items: center;
        padding: 1.2em 0 0 0 ;
        position: relative;
    }
    .intro{
        margin-top: 5em;
    }
    .intro .it1 span{
        padding:1em 0 0 0;
    }
    .intro .video{
        padding: 2em 0 0 0;
        width: 100%;
        height: auto;
    }
    .intro .it1 h1{
        font-size: 23px;
    }
    .ctr{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        padding: 0;
    }
    .ctr .text{
        padding-top:3em;
    }
    .slide{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .sl1,.sl4{
        padding:0;
        margin: 0;
    }
    .sl2{
        padding: 1em;
        background-image: linear-gradient(to right, #DDDEE1 0%,#CBCCD0 100%);
    }
    .sl2 img,.sl3 img,sl6>img{
        width: 100%;
        height: auto;
    }
    .ulimated,.uli1 span,.uli1 h4,.uli1 h1{
        padding: 0;
        line-height: 2em;
    }
    .uli2{
        display: flex;
        flex-direction: column;
    }
    .uli2 img{
        width: 100%;
        box-shadow: 0 0 10px #888888;
        margin-top: 2em;
    }
    .ft1{
        line-height: 7em;
    }
    .ft1 span{
        padding: 0;
    }
    .ft1 h1{
        padding-top:1em;
    }
    .ft2{
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .fttxt-1{
        padding: 0;
        padding-top: 2em;
    }
    .ft3-grid{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    .gr1{
        padding-top: 1em;
    }
    .ft4{
        line-height: 3em;
    }
    .ft4 .textend{
        top:20%;
        bottom: 80%;
        position: absolute;
        z-index: 100;
        max-width:100%;
        background-repeat: no-repeat;
    }
    .textend h1{
        color:#fff;
        font-size: 20px;
    }
    .textend span{
        color: #fff;
        opacity: 0.65;
        font-size: 13px;
        width: 100%;
    }
    .btnend button{
        width:150px;
        height: 40px;
        border: none;
        border-radius: 50px;
        background-color: #F64A0E;
        color:#fff;
        text-transform: uppercase;
        font-weight: bold;
        outline: none;
        outline-style: none;
    }
    .menu-icon{
        display: block;
    }
    @keyframes animate {
        from {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            background-color: white;
        }
    }

}